In this notebook, we combine and clean data from multiple sources which will supplement our yelp data

In [1]:
import pandas as pd
import numpy as np

In [2]:
path = "./HARVEY_BusinessList_10-16-2017.txt"

In [3]:
damaged_biz = pd.read_csv(path,delimiter= "|" )

In [171]:
damaged_biz.shape

(565043, 18)

In [4]:
damaged_biz.head()

,DUNS,NAME,TRADESTYLE_1,ADDRESS,CITY,STATE,FULLZIP,MAIL_ADDR,MAIL_CITY,MAIL_STATE,MAIL_FULLZIP,PHONE,CEO,NaicsDescription,naics,FIPS_STATE_CODE,FIPS_COUNTY_CODE,DB_County
0,1005086,Dyersdale Baptist Church,NaN,NaN,Coldspring,TX,77331,P O Box 37,Coldspring,TX,773310037.0,9.366533e+09,Archie Jackson,Religious Organizations,813110,48,407,San Jacinto
1,1005623,Union Carbide Corporation,NaN,7501 State Hwy 185 N,Seadrift,TX,77983,P O Box 210279,Dallas,TX,752110279.0,3.615532e+09,Patrick E Gottschalk,All Other Basic Organic Chemical Manufacturing,325199,48,57,Calhoun
2,1006142,City of Rose City,Traffic Department,370 Rose City Dr,Vidor,TX,776629466,NaN,NaN,NaN,NaN,4.097691e+09,David Bush,Executive Offices,921110,48,361,Orange
3,1007223,Burkshire Holdings Ltd (del),NaN,412 Main St,Houston,TX,770021838,NaN,NaN,NaN,NaN,7.132220e+09,Donna Thompson,Convenience Stores,445120,48,201,Harris
4,1009104,Quality Control Representative,NaN,3510 Summit Dr,Missouri City,TX,774594043,NaN,NaN,NaN,NaN,2.812618e+09,Arbye Lee Curtis,Other Management Consulting Services,541618,48,157,Fort Bend

In [216]:
damaged_biz["FULLZIP"] = damaged_biz["FULLZIP"].map(lambda x: str(x))

In [228]:
ammended_zc = []
for each in damaged_biz["FULLZIP"]:
#     print(each)
    if len(each) > 5:
        new_each = int(each[:-4])
        ammended_zc.append(new_each)
    else:
        ammended_zc.append(each)

In [229]:
len(ammended_zc)

565043

In [230]:
damaged_biz["new_zc"] = ammended_zc

In [231]:
damaged_biz_dict = damaged_biz.groupby("new_zc").count()["NAME"].to_dict()

In [5]:
path1 = "./Census Tract Damage Assessment - Sheet1.csv"

In [6]:
df = pd.read_csv(path1)

In [7]:
df.head()

           Key     AFF    DES    MAJ     MIN   Total
0  48157674700   323.0  252.0  627.0  1518.0  2720.0
1  48361022300  1167.0    9.0  201.0  1122.0  2499.0
2  48339694301   386.0  543.0  779.0   766.0  2474.0
3  48355006200  1625.0    0.0   72.0   656.0  2353.0
4  48361021900  1220.0   36.0  112.0   630.0  1998.0

In [8]:
path2 = "../Datasets/indicator_data_download_20190423.csv"

In [9]:
df_3 = pd.read_csv(path2)

In [10]:
df_3.columns

Index(['Indicator Name', 'What Is This Indicator', 'Location Type', 'Location',
       'Indicator Value', 'Indicator Value Units', 'Lower Confidence Interval',
       'Upper Confidence Interval', 'Indicator Value Unstable',
       'Period of Measure', 'Data Source', 'Technical Note', 'Breakout Title',
       'Breakout Category', 'Breakout Subcategory', 'Breakout Value',
       'Breakout Value Units', 'Breakout Lower Confidence Interval',
       'Breakout Upper Confidence Interval', 'Breakout Unstable',
       'Breakout Footer'],
      dtype='object')

In [89]:
df_3

,Indicator Name,What Is This Indicator,Location Type,Location,Indicator Value,Indicator Value Units,Lower Confidence Interval,Upper Confidence Interval,Indicator Value Unstable,Period of Measure,...,Technical Note,Breakout Title,Breakout Category,Breakout Subcategory,Breakout Value,Breakout Value Units,Breakout Lower Confidence Interval,Breakout Upper Confidence Interval,Breakout Unstable,Breakout Footer
0,Median Household Income,This indicator shows the median household inco...,Zip Code,77002,72306,dollars,65002,79610,No,2013-2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Median Household Income,This indicator shows the median household inco...,Zip Code,77002,68229,dollars,58198,78260,No,2012-2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Median Household Income,This indicator shows the median household inco...,Zip Code,77002,62089,dollars,51992,72186,No,2011-2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Median Household Income,This indicator shows the median household inco...,Zip Code,77002,71319,dollars,57900,84738,No,2010-2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Median Household Income,This indicator shows the median household inco...,Zip Code,77002,64093,dollars,52011,76175,No,2009-2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Median Household Income,This indicator shows the median household inco...,Zip Code,77002,57165,dollars,45985,68345,No,2008-2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Median Household Income,This indicator shows the median household inco...,Zip Code,77002,66776,dollars,55707,77845,No,2007-2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Median Household Income,This indicator shows the median household inco...,Zip Code,77003,59575,dollars,49279,69871,No,2013-2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Median Household Income,This indicator shows the median household inco...,Zip Code,77003,46267,dollars,39137,53397,No,2012-2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Median Household Income,This indicator shows the median household inco...,Zip Code,77003,39039,dollars,33053,45025,No,2011-2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Median Household Income,This indicator shows the median household inco...,Zip Code,77003,40647,dollars,32485,48809,No,2010-2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Median Household Income,This indicator shows the median household inco...,Zip Code,77003,36412,dollars,27445,45379,No,2009-2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Median Household Income,This indicator shows the median household inco...,Zip Code,77003,37664,dollars,30249,45079,No,2008-2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Median Household Income,This indicator shows the median household inco...,Zip Code,77003,35258,dollars,28181,42335,No,2007-2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Median Household Income,This indicator shows the median household inco...,Zip Code,77004,48592,dollars,42841,54343,No,2013-2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Median Household Income,This indicator shows the median household inco...,Zip Code,77004,50681,dollars,46142,55220,No,2012-2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Median Household Income,This indicator shows the median household inco...,Zip Code,77004,47523,dollars,42771,52275,No,2011-2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Median Household Income,This indicator shows the median household inco...,Zip Code,77004,46059,dollars,40619,51499,No,2010-2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Median Household Income,This indicator shows the median household inco...,Zip Code,77004,41983,dollars,38750,45216,No,2009-2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Median Household Income,This indicator shows the median household inco...,Zip Code,77004,39804,dollars,34303,45305,No,2008-2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Median Household Income,This indicator shows the median household inco...,Zip Code,77004,34079,dollars,30094,38064,No,2007-2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Median Household Income,This indicator shows the median household inco...,Zip Code,77005,180758,dollars,164630,196886,No,2013-2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Median Household Income,This indicator shows the median household inco...,Zip Code,77005,174153,dollars,156601,191705,No,2012-2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Median Household Income,This indicator shows the median household inco...,Zip Code,77005,166203,dollars,148976,183430,No,2011-2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Median Household Income,This indicator shows the median household inco...,Zip Code,77005,163802,dollars,147675,179929,No,2010-2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Median Household Income,This indicator shows the median household inco...,Zip Code,77005,159732,dollars,148263,171201,No,2009-2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Median Household Income,This indicator shows the median household inco...,Zip Code,77005,153041,dollars,142019,164063,No,2008-2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Median Household Income,This indicator shows the median household inco...,Zip Code,77005,147026,dollars,134024,160028,No,2007-2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Median Household Income,This indicator shows the median household inco...,Zip Code,77006,82878,dollars,76211,89545,No,2013-2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Median Household Income,This indicator shows the median household inco...,Zip Code,77006,80908,dollars,72925,88891,No,2012-2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
877,Median Household Income,This indicator shows the median household inco...,Zip Code,77562,54504,dollars,49943,59065,No,2008-2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
878,Median Household Income,This indicator shows the median household inco...,Zip Code,77562,52139,dollars,48477,55801,No,2007-2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
879,Median Household Income,This indicator shows the median household inco...,Zip Code,77571,75232,dollars,71430,79034,No,2013-2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
880,Median Household Income,This indicator shows the median household inco...,Zip Code,77571,72155,dollars,68201,76109,No,2012-2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
881,Median Household Income,This indicator shows the median household inco...,Zip Code,77571,70689,dollars,65777,75601,No,2011-2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
882,Median Household Income,This indicator shows the median household inco...,Zip Code,77571,69480,dollars,65186,73774,No,2010-2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
883,Median Household Income,This indicator shows the median household inco...,Zip Code,77571,68102,dollars,63962,72242,No,2009-2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
884,Median Household Income,This indicator shows the median household inco...,Zip Code,77571,66983,dollars,62886,71080,No,2008-2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
885,Median Household Income,This indicator shows the median household inco...,Zip Code,77571,69004,dollars,64147,73861,No,2007-2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886,Median Household Income,This indicator shows the median household inco...,Zip Code,77586,90612,dollars,82453,98771,No,2013-2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
887,Median Household Income,This indicator shows the median household inco...,Zip Code,77586,87543,dollars,81363,93723,No,2012-2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
888,Median Household Income,This indicator shows the median household inco...,Zip Code,77586,88455,dollars,79856,97054,No,2011-2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
889,Median Household Income,This indicator shows the median household inco...,Zip Code,77586,87136,dollars,77324,96948,No,2010-2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
890,Median Household Income,This indicator shows the median household inco...,Zip Code,77586,86786,dollars,73818,99754,No,2009-2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
891,Median Household Income,This indicator shows the median household inco...,Zip Code,77586,86474,dollars,73426,99522,No,2008-2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
892,Median Household Income,This indicator shows the median household inco...,Zip Code,77586,85746,dollars,74992,96500,No,2007-2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
893,Median Household Income,This indicator shows the median household inco...,Zip Code,77587,44371,dollars,40753,47989,No,2013-2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
894,Median Household Income,This indicator shows the median household inco...,Zip Code,77587,41840,dollars,39939,43741,No,2012-2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
895,Median Household Income,This indicator shows the median household inco...,Zip Code,77587,41211,dollars,38773,43649,No,2011-2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
896,Median Household Income,This indicator shows the median household inco...,Zip Code,77587,38750,dollars,33395,44105,No,2010-2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
897,Median Household Income,This indicator shows the median household inco...,Zip Code,77587,36083,dollars,33390,38776,No,2009-2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
898,Median Household Income,This indicator shows the median household inco...,Zip Code,77587,36420,dollars,32210,40630,No,2008-2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
899,Median Household Income,This indicator shows the median household inco...,Zip Code,77587,37147,dollars,32822,41472,No,2007-2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
900,Median Household Income,This indicator shows the median household inco...,Zip Code,77598,52167,dollars,48142,56192,No,2013-2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
901,Median Household Income,This indicator shows the median household inco...,Zip Code,77598,48059,dollars,45086,51032,No,2012-2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
902,Median Household Income,This indicator shows the median household inco...,Zip Code,77598,47623,dollars,44049,51197,No,2011-2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
903,Median Household Income,This indicator shows the median household inco...,Zip Code,77598,46161,dollars,42381,49941,No,2010-2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
904,Median Household Income,This indicator shows the median household inco...,Zip Code,77598,46682,dollars,43364,50000,No,2009-2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
905,Median Household Income,This indicator shows the median household inco...,Zip Code,77598,44884,dollars,41414,48354,No,2008-2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
906,Median Household Income,This indicator shows the median household inco...,Zip Code,77598,45773,dollars,42473,49073,No,2007-2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
med_hh_income = df_3[df_3["Period of Measure"]=="2013-2017"]

In [12]:
med_hh_income = med_hh_income[["Location","Indicator Value"]]

In [18]:
med_hh_income = med_hh_income.set_index('Location').to_dict()

AttributeError: 'dict' object has no attribute 'set_index'

In [20]:
path3 = "../Datasets/cleaned_dataframe_houston.csv"

In [21]:
main_df = pd.read_csv(path3)

In [22]:
main_df.head()

,id,name,categories,latitude,longitude,review_count,rating,price,zip_code,city,...,is_closed,url,lifeline_1,lifeline_2,lifeline_3,lifeline_4,lifeline_5,lifeline_6,lifeline_7,address
0,--4m48NzUAHvTd4v0u5YIg,Christian's Tailgate Bar and Grill,sportsbars,29.752573,-95.376317,353.0,3.0,$$,77002.0,Houston,...,False,https://www.yelp.com/biz/christians-tailgate-b...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2000 Bagby St
1,--4uMhyYMhURrd3dgwe_mA,Tu-Go Kitchen,foodtrucks,29.710531,-95.381760,7.0,2.0,$$,77021,Houston,...,False,https://www.yelp.com/biz/tu-go-kitchen-houston...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1 Hermann Park Ct
2,--tU4l_I9bKvJAeKYPbdSw,Treebeards,southern,29.755270,-95.363040,32.0,4.0,$,77010.0,Houston,...,False,https://www.yelp.com/biz/treebeards-houston-3?...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1200 McKinney St Ste 329
3,-07hPjEFeAZVe7XSHIz54A,Hollywood Sign Hike,hiking,34.120281,-118.316141,178.0,4.5,NaN,90068,Los Angeles,...,False,https://www.yelp.com/biz/hollywood-sign-hike-l...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3200 Canyon Dr Bronson Canyon Griffith Park
4,-1hWNeXT09Sjwbref49wrg,Chase Bank,banks,29.829029,-95.429360,6.0,2.5,NaN,77018.0,Houston,...,False,https://www.yelp.com/biz/chase-bank-houston-17...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4320 Ella Blvd

In [34]:
main_df.drop(index=4929, inplace=True)

In [53]:
main_df.isnull().sum()

id                    0
name                  0
categories            2
latitude              0
longitude             0
review_count          0
rating                0
price              3175
zip_code             16
city                  0
state                 0
country               0
display_address       0
display_phone         0
alias                 0
is_closed             0
url                   0
lifeline_1            0
lifeline_2            0
lifeline_3            0
lifeline_4            0
lifeline_5            0
lifeline_6            0
lifeline_7            0
address               0
median_income      7155
dtype: int64

In [56]:
main_df.dropna(subset=["zip_code"], inplace=True)

In [57]:
main_df["zip_code"] = main_df["zip_code"].map(lambda x: float(x))

In [66]:
med_hh_income = med_hh_income['Indicator Value']

In [67]:
main_df["zip_code"] = main_df["zip_code"].map(lambda x: int(x) if x != "NaN" else x)

In [68]:
main_df["median_income"] = main_df["zip_code"].map(med_hh_income)

In [73]:
main_df.columns

Index(['id', 'name', 'categories', 'latitude', 'longitude', 'review_count',
       'rating', 'price', 'zip_code', 'city', 'state', 'country',
       'display_address', 'display_phone', 'alias', 'is_closed', 'url',
       'lifeline_1', 'lifeline_2', 'lifeline_3', 'lifeline_4', 'lifeline_5',
       'lifeline_6', 'lifeline_7', 'address', 'median_income'],
      dtype='object')

In [81]:
to_drop = main_df[main_df["state"] != "TX"].index

In [82]:
main_df.drop(labels=to_drop, inplace=True)

In [85]:
main_df.isnull().sum()

id                    0
name                  0
categories            2
latitude              0
longitude             0
review_count          0
rating                0
price              3108
zip_code              0
city                  0
state                 0
country               0
display_address       0
display_phone         0
alias                 0
is_closed             0
url                   0
lifeline_1            0
lifeline_2            0
lifeline_3            0
lifeline_4            0
lifeline_5            0
lifeline_6            0
lifeline_7            0
address               0
median_income       263
dtype: int64

In [86]:
main_df.shape

(6109, 26)

In [146]:
new_df = df_3[df_3["Period of Measure"]=="2013-2017"]["Location"]
new_df = pd.DataFrame(new_df)
new_df.head()

    Location
0      77002
7      77003
14     77004
21     77005
28     77006

In [148]:
num_yelp_biz_by_zip_code = main_df.groupby("zip_code").count()["id"].to_dict()

In [ ]:
med_hh_income =

In [149]:
new_df["num_yelp_bus"] = new_df["Location"].map(num_yelp_biz_by_zip_code)

In [151]:
new_df["med_hh_income"] = new_df["Location"].map(med_hh_income)

In [244]:
new_df["est_num_damaged_bus"] = new_df["Location"].map(damaged_biz_dict)

In [250]:
new_df["zip_code"] = new_df["Location"]

In [251]:
new_df.drop(columns="Location", inplace=True)

In [253]:
new_df.head()

    num_yelp_bus  med_hh_income  est_num_damaged_bus  zip_code
0          506.0          72306                 6619     77002
7          108.0          59575                 1122     77003
14         254.0          48592                 2711     77004
21         195.0         180758                 3561     77005
28         251.0          82878                 3050     77006

In [256]:
path = "./additional_data.csv"
new_df.to_csv(path)